.HeaderBody {
  width: 100%;
  margin: 0px;
  background-color: aqua;
  position: sticky;
  top: 0px;
  height: 150px;
}

.HeaderBody h2 {
  margin: 0px;
}

.HeaderBody ul {
  display: flex;
}

.HeaderBody li {
  margin-left: 50px;
}
