@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: 5s;
}
.show {
  transition: 3s;
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.HPWelcomeBody {
  width: 100%;
  height: 100vh;
  background-color: black;
  background: linear-gradient(45deg, #070070, #300045);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.HPWelcomeBody h1 {
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 120px;
  width: 100%;
  color: #ffffff;
  text-shadow: rgb(0, 47, 255) 100px 0 50px;
}

.HPWelcomeBody::before {
  overflow-x: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(
    circle at 1px 1px,
    rgb(255, 255, 255) 1px,
    transparent 0
  );
  background-size: 150px 150px;
  animation: dotZoomOut 120s linear infinite;
}

.landPyramid {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -120px;
  z-index: 10;
}

.landPyramid img {
  overflow: hidden;
  height: auto;
  z-index: 100;
  position: relative;
}

.landPyramid h1 {
  position: absolute;
  z-index: 2;
}

.HPWelcomeBodyBackground {
  width: 100%;
  height: 100%;
  background-image: url("../assets/svgs/circles.svg");
  filter: blur(50px) drop-shadow(16px 16px 20px red) invert(75%);
  position: relative;
  overflow: hidden;
  z-index: 0;
  animation: cloudMove 20s linear infinite;
}

.HPWelcomeBody::after:hover {
  transform: rotateX(180deg);
}

section {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

span {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 1px;
  height: 1px;
  background-color: aliceblue;
  border-radius: 80%;
  box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.103),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgb(255, 0, 0);
  animation: stars 5s linear infinite;
  z-index: 1;
}

span::before {
  content: "";
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
  z-index: 1;
}

span:nth-child(1) {
  top: 0;
  right: 0;
  animation-delay: 0;
  animation-duration: 3s;
}
span:nth-child(2) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

span:nth-child(3) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: -0.2s;
  animation-duration: 3s;
}

span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 1.5s;
}

span:nth-child(5) {
  top: 0;
  right: 15%;
  left: initial;
  animation-delay: -0.5s;
  animation-duration: 2s;
}

span:nth-child(6) {
  top: 190px;
  left: 20%;

  animation-delay: -0.5s;
  animation-duration: 2s;
}

@keyframes dotZoomOut {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes cloudMove {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0.5;
  }
}

@keyframes stars {
  0% {
    transform: rotate(315deg) translateX(0) scale(1.7);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px) scale(0.8);
    opacity: 0;
  }
}
