.HomepageBody {
  position: relative;
  overflow: hidden;
  background: linear-gradient(215deg, rgba(0, 21, 98, 1) 0%, #6b006e 100%);
}

.blob1 {
  position: absolute;
  filter: blur(150px);
  left: 50px;
  top: 50px;
  animation: blobAnim 20s linear infinite;
  z-index: 1;
}

.blob2 {
  position: absolute;
  filter: blur(150px);
  right: 20px;
  top: 600px;
  animation: blobAnim 60s linear infinite;
  z-index: 1;
}

.homepageContent {
  position: relative;
  width: 100%;
  height: 100%;
}

.gamesList {
  color: azure;
  position: relative;
  margin: 0px;
  width: 100%;
  height: 800px;

  z-index: 5;
}

.gamesList h1 {
  text-align: center;
  margin: 0px;
  padding: 40px;
  font-size: 50px;
}

.gameContainer {
  position: relative;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  display: flex;
  z-index: 5;
}

.game {
  position: relative;
  width: 35%;
  margin: 20px;
  background-color: rgb(0, 160, 160);
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.game h1 {
  top: -70px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);

  opacity: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 3;
}

.game p {
  top: -70px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);

  opacity: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 3;
  height: auto;
}

.game img {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  margin: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  transition: 0.5s;
}

.game:hover h1 {
  transition: 1s;
  top: 0px;
  opacity: 1;
}

.game:hover p {
  font-size: 25px;
  transition: 1s;
  top: 120px;
  height: auto;
  opacity: 1;
}

.gameBack {
  top: -400px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.144);
  opacity: 0;
  transition: 2s;
}

.game:hover img {
  transition: 2s;
}

.game:hover .gameBack {
  transition: 1s;
  top: 0px;
  opacity: 1;
}

.homeInfo {
  position: relative;
  z-index: 5;
  width: 80%;
  height: 200px;
  font-size: 20px;
  color: rgb(95, 0, 98);
  margin: auto;
  width: 50%;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
}

@keyframes blobAnim {
  0% {
    scale: 1;
    transform: rotateZ(0);
  }
  20% {
    scale: 1.5;
  }

  40% {
    transition: 10s;
    scale: 0.5;
  }

  60% {
    scale: 1;
  }

  80% {
    transition: 10s;
    scale: 0.5;
  }
  100% {
    scale: 1;
    transform: rotateZ(360deg);
  }
}
